
<div class="container">
    <div class="jumbotron">
        <div class="panel-body" ng-controller="productsController">
            <div class="media" ng-repeat="product in allProducts">
                <product-card productid="product.productID"
                              name="product.Name"
                              description="product.Description"
                              image="product.Image"></product-card>
            </div>
        </div>
    </div>
</div>
